<h1>Home Page</h1>
<input type="button" value="Add Product" (click)="addEntry();" />

<div class="overlay" *ngIf="addPopup">
  <div class="popup">
    <h3>Please Add Product Details</h3>
    <a class="close" (click)="addPopup = false">&times;</a>
    <div class="content">
      <input type="text" [(ngModel)]="pName" placeholder="Add Product Name" />
      <textarea [(ngModel)]="pDesc" placeholder="Add Product Description"></textarea>
      <input type="button" value="Add Product" (click)="addProduct()" />
    </div>
  </div>
</div>

<div class="overlay" *ngIf="editItem">
  <div class="popup">
    <h3>Please Add Product Details</h3>
    <a class="close" (click)="editItem = false">&times;</a>
    <div class="content">
      <input type="text" [(ngModel)]="pName" placeholder="Add Product Name" />
      <textarea
        [(ngModel)]="pDesc"
        placeholder="Add Product Description"
      ></textarea>
      <input type="button" value="Save Changes" (click)="saveEntry()" />
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <td>Product ID</td>
      <td>Product Name</td>
      <td>Description</td>
      <td colspan="2">Actions</td>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let prod of products">
      <td>{{prod.ProductID}}</td>
      <td>{{prod.ProductName}}</td>
      <!-- <td *ngIf="editItem">
        <input [(ngModel)]="pName" value="{{prod.ProductName}}" />
      </td> -->
      <td>{{prod.ProductDesc}}</td>
      <!-- <td *ngIf="editItem">
        <input [(ngModel)]="pDesc" value="{{prod.ProductDesc}}" />
      </td> -->
      <td>
        <input type="button" value="Edit" (click)="editEntry(prod.ProductID)" />
      </td>
      <!-- <td *ngIf="editItem">
        <input type="button" value="Save" (click)="saveEntry(prod.ProductID)" />
      </td> -->
      <td>
        <input
          type="button"
          value="Delete"
          (click)="deleteEntry(prod.ProductID)"
        />
      </td>
    </tr>
  </tbody>
</table>